<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GoSeek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <script
      src="https://kit.fontawesome.com/a5e895e935.js"
      crossorigin="anonymous"
    ></script>
</head>

<body>
    <script type="text/javascript" src="/js/script.js"></script>
    <script
      data-name="BMC-Widget"
      data-cfasync="false"
      src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
      data-id="maraudery"
      data-description="Support me on Buy me a coffee!"
      data-message=""
      data-color="#0be881"
      data-position="Right"
      data-x_margin="18"
      data-y_margin="18"
    ></script>
    <div class="navbar">
      <a href="https://gosektest.herokuapp.com"><i class="fas fa-tools"></i> Tools</a>
      <a href="https://github.com/maraudery/goseek"><i class="fab fa-github"></i> GitHub</a>
    </div>
    <h1 style="text-align: center; padding-left: 0px">VIN Lookup</h1>
    <input style="width: 99%; margin: 5px; height: 5%; text-align: center; font-size: 150%" spellcheck="false" autocomplete="off" id="vin" placeholder="Query VIN">
    <button style="font-family: Helvetica; width: 99%; margin: 5px; height: 10%; font-size: 200%" id="vinsearch">Search</button>
    <br>
    <textarea style="width: 99%; height: 60%; margin: 5px;" id="vinresult" data-role="none" rows="15" cols="50" readonly></textarea>
    <br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/app.js"></script> 
</body>

</html> 