html {
  color: white;
  display: table;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

.loadercontainer {
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
}

.loader {
  border: 16px solid #353b48; /* Light grey */
  border-top: 16px solid #1dd1a1; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h1 {
  padding-left: 5px
}

h2 {
  padding-left: 5px
}

h3 {
  padding-left: 5px
}

p {
  padding-left: 5px
}

body {
  display: table-cell;
  margin: 2em auto;
  background-color: #2f3640;
}

a {
  color: #05c46b
}

input {
  background-color: #353b48;
  color: white;
  width: 50px;
}

th {
  text-align: left;
  font-size: 150%
}

button {
  background-color: #1dd1a1;
  color: white;
}

button a:hover {
  background-color: #10ac84;
  color: white;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #353b48;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #10ac84;
}

/* Current/active navbar link */
.active {
  background-color: #1dd1a1;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}