* {
    line-height: 1.2;
    margin: 0;
}

html {
    color: #888;
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
    background-color: #2f3542;
}

h1 {
    color: #ffffff;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 20px;
}

p {
    margin: 0 auto;
    width: 280px;
    color: #ffffff
}

input {
    margin-bottom: 20px;
    background-color: #57606f;
    color: #ffffff;
}

textarea {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
    margin: 0 auto;
    width: 350px;
    height: 500px;
    overflow-y: auto;
    display: block;
    resize: none;
    font-size: 12px;
    background-color: #57606f;
    color: #ffffff;
}

textarea:focus {
    outline: 0
}

/* unvisited link */
a:link {
    color: #e84118;
}
  
  /* visited link */
a:visited {
    color: #e84118;
}
  
  /* mouse over link */
a:hover {
    color: #e84118;
}
  
  /* selected link */
a:active {
    color: #e84118;
}

@media only screen and (max-width: 280px) {

    body,
    p {
        width: 95%;
    }

    h1 {
        font-size: 1.5em;
        margin: 0 0 0.3em;
    }
}